<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data" action="/upload/test1">
        <input type="file" name="file"><br>
        <input type="submit" value="upload">
    </form>
    <form method="post" enctype="multipart/form-data" action="/upload/test2">
        <input type="file" name="file"><br>
        <input type="submit" value="upload">
    </form>
    <form method="post" enctype="multipart/form-data" action="/upload/test3">
        <input type="file" name="file"><br>
        <input type="submit" value="upload">
    </form>
    <form method="post" enctype="multipart/form-data" action="/upload/test6">
        <input type="file" name="file"><br>
        <input type="submit" value="upload">
    </form>
</body>
</html>